@import '../../styles/definitions/breakpoints';
@import '../../styles/definitions/colors';

$thumbnail-gutter: 0px;
$gutter-desktop: 0.8rem;
$thumbnail-width: 400px;
$width-desktop: 239px;

.component {
  display: inline-block;
  -moz-box-shadow: 0 0 4px #ccc;
  -webkit-box-shadow: 0 0 4px #ccc;
  // box-shadow: 0 0 4px #aaa;
  margin: 2rem 0 2rem $thumbnail-gutter;



  &:hover {
    background-color: #f8f8f8;

    .image {
      // background-position: calc(50% - 0.4rem) calc(50% - 0.4rem);
      // width: calc(100% + 0.8rem);
      // height: calc(100% + 0.8rem);
    }

    .title {
      color: $secondary;
    }
  }

  @media (#{$min-tablets}) {
    margin: 2rem 0 2rem $gutter-desktop;

    @media (max-width: 1100px) {
      &:nth-child(3n-2) {
        margin-left: 0;
      }
    }
  }

  @media (min-width: 1100px) {

    &:nth-child(4n-3) {
      margin-left: 0;
    }
  }
}

.image_container {
  position: relative;
  padding-top: 100%;
  overflow: hidden;
}
.image {
  height: 100%;
  width: 100%;
  transition: all 0.25s ease-in-out, opacity .15s linear, visibility .15s linear;
  opacity: 0.3;
  visibility: hidden;
  top: 0;
  position: absolute;

  &__active {
    opacity: 1;
    visibility: visible;
  }
}

@mixin visibleLines($line-height, $lines) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines; /* number of lines to show */
  line-height: $line-height;        /* fallback */
  max-height: #{$line-height * $lines};       /* fallback */
}
.text_cont {
  padding: 1rem 1.2rem;
}
.title {
  display: inline-block;
  // font-weight: bold;
  margin-bottom: 0.5rem;

  @include visibleLines(1.9rem, 1);
}

.subtitle {
  @include visibleLines(1.8rem, 1);
}

.col3 {
  width: calc(100% - #{$thumbnail-gutter} * 2);
  max-width: $thumbnail-width;

  @media (#{$min-tablets}) {
    width: $width-desktop;
  }
}