@import '../../styles/definitions/breakpoints';

$thumbnail-gutter: 24px;
$gutter-desktop: 32px;

.container {
  -moz-box-shadow: 0 0 7px #ccc;
  -webkit-box-shadow: 0 0 7px #ccc;
  box-shadow: 0 0 7px #aaa;
  margin: 2rem $thumbnail-gutter;

  &:hover {
    background-color: #eee;
  }
  &:active {
    background-color: #ccc;
  }

  @media (#{$min-tablets}) {
    margin: 2rem $gutter-desktop ;
  }
}
.image_cont {
  padding-top: 100%;
  width: 100%;

  @media (#{$min-tablets}) {
    // height: 250px;
  }
}

.text_cont {
  padding: 10px 18px;
  p {
    margin: 0 0 10px;
  }
}
.header {
  font-weight: bold;
}

.col3 {
  max-width: 500px;
  width: calc(50% - (#{$thumbnail-gutter} * 2));

  @media (#{$min-tablets}) {
    width: calc((100%/3) - (#{$gutter-desktop} * 2))
  }
  @media (min-width: 1300px) {
    width: calc(25% - (#{$gutter-desktop} * 2))
  }
}

a {
  text-decoration: none;
}