@import '../../styles/definitions/breakpoints';
@import '../../styles/definitions/colors';
@import '../../components/Thumbnail/thumbnail.module.scss';

.section {
  padding: 4rem 0 6rem;
}

.thumbnail_row {
  justify-content: center;
}

@mixin calculateWidth($width, $margin, $n) {
  width: calc(#{$width} * #{$n} + #{$margin} * 2*#{$n});
}

.grid {
  display: inline-block;
  margin: 0 auto;
  @include calculateWidth($thumbnail-width, $thumbnail-gutter, 1);

  @media (#{$min-tablets}) {
    @include calculateWidth($width-desktop, $gutter-desktop, 3);
  }

  @media (min-width: 1100px) {
    @include calculateWidth($width-desktop, $gutter-desktop, 4);
  }
}

.pagination_row {
  justify-content: center;
  margin-top: 4rem;
}

$arrow-factor: 60px;

.arrows { // 100w x 83.7h
  width: $arrow-factor;
  height: 0.837 * $arrow-factor;

  &:hover {
    path {
      stroke: $primary;
    }
  }

  &__back {
    transform: rotate(180deg)
  }
  &__inactive {
    path {
      stroke: #e0e0e0;
    }
    &:hover {
      path {
        stroke: #e0e0e0;
      }
    }
  }
}
.page_number {
  display: flex;
  align-items: center;
  margin: 0 3rem;
}