@import '../../styles/definitions/breakpoints';
@import '../../styles/definitions/colors';

$btn-width: 110px;
$full-height: 55px;

$form-max-width: 350px;
$desktop-form-max-width: 900px;
$zip-width: 90px;
$input-width: $form-max-width - $zip-width;
$desktop-input-width: calc(100% - #{$zip-width} - #{$btn-width});

.form {
  position: relative;
  height: 45px;
  width: $form-max-width;

  &__full_sized {
    height: $full_height;
    width: $desktop-form-max-width;
  }
}

.input {
  padding: 0.5rem 0.7rem;
  font-size: 1.25rem;
  float: left;

  width: $input-width;
  outline: none;
  border: 1px $gray-light solid;
  border-radius: 4px;
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;

  &__full_sized {
    height: $full-height;
    width: $desktop-input-width;

    margin: 0;
    padding-left: 1rem;

    border: none;
    
  }

  &__active {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.zip {
  padding: 0.5rem 0;
  padding-left: 1.05rem;
  font-size: 1.25rem;
  width: $zip-width;
  float: left;
  border: 1px $gray-light solid;
  border-left: none;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  outline: none;

  &__full_sized {
    height: $full-height;
    border: none;
    border-radius: 0;
  }

  &__border {
    position: absolute;
    right: $zip-width;
    height: 60%;
    top: 20%;
    width: 1px;
    background-color: $gray-light;

    &__full_sized {
      right: $btn-width + $zip-width;
      height: 70%;
      top: 15%;
    }
  }

  &__empty {
    padding-left: 1.8rem;
  }
}

.submit {
  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    width: $btn-width;
    height: $full-height;

    background-color: #08A6FF;
    border: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;

    &:hover {
      cursor: pointer;
      background-color: #22afff;
    }
  }

  &__text {
    color: $white;
  }
}

.autocomplete {
  display: none;
  position: absolute;
  top: 44px;
  border: 1px solid $gray-light;
  width: $input-width;
  max-height: 10rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  z-index: 10;
  background-color: $white;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;

  overflow: auto;

  &__full_sized {
    top: $full-height;
    width: $desktop-input-width;
    max-height: 10rem;

    @media (#{$min-tablets}) {
      max-height: 18rem;
    }
  }

  &__active {
    display: block;
  }

  &__text_line {
    padding-left: 1rem;
  }

  &__title {
    padding-left: 0.6rem;
  }

  &__dividing_line {
    height: 1px;
    width: calc(100% - 1.2rem);
    background-color: $gray-light;
    margin: 0 auto;
  }

  &__no_match{
    margin-bottom: 0.4rem;
  }

  &__subtitle {
    font-size: 1.1rem;
    line-height: 1.7rem;
    transition: all 0.15s ease-in-out;

    &:hover {
      cursor: pointer;
      background-color: $gray-lighter;
      color: $primary;
    }
  }

  &__list {
    margin: 0.2rem 0;
  }
}

// just allows form submission by pressing enter
.submit_on_enter {
  display: none;
}