@import '../../styles/definitions/breakpoints';
@import '../../styles/definitions/colors';

$btn-width: 110px;
$full-height: 55px;

$input-width: 300px;
$desktop-input-width: calc(100% - #{$btn-width});
$desktop-max-width: 800px;

.component {
  width: 100%;
  position: relative;
}

.input {
  padding: 0.5rem 0.7rem;
  font-size: 1.25rem;

  width: $input-width;
  outline: none;
  border: 1px $gray-light solid;
  border-radius: 4px;

  &__full_sized {
    float:left;
    height: $full-height;
    width: $desktop-input-width;
    max-width: $desktop-max-width;

    margin: 0;
    padding-left: 1rem;

    border: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &__active {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.submit {
  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    width: $btn-width;
    height: $full-height;

    background-color: #08A6FF;
    border: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;

    &:hover {
      cursor: pointer;
      background-color: #22afff;
    }
  }

  &__text {
    color: $white;
  }
}

.autocomplete {
  display: none;
  position: absolute;
  border: 1px solid $gray-light;
  width: $input-width;
  max-height: 10rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  z-index: 10;
  background-color: $white;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;

  overflow: auto;

  &__full_sized {
    top: $full-height;
    width: $desktop-input-width;
    max-width: $desktop-max-width;
    max-height: 10rem;

    @media (#{$min-tablets}) {
      max-height: 18rem;
    }
  }

  &__active {
    display: block;
  }

  &__text_line {
    padding-left: 1rem;
  }

  &__title {
    padding-left: 0.6rem;
  }

  &__dividing_line {
    height: 1px;
    width: calc(100% - 1.2rem);
    background-color: $gray-light;
    margin: 0 auto;
  }

  &__no_match{
    margin-bottom: 0.4rem;
  }

  &__subtitle {
    font-size: 1.1rem;
    line-height: 1.7rem;
    transition: all 0.15s ease-in-out;

    &:hover {
      cursor: pointer;
      background-color: $gray-lighter;
      color: $primary;
    }
  }

  &__list {
    margin: 0.2rem 0;
  }
}