@import '../../styles/definitions/breakpoints';
@import '../../styles/definitions/colors';
@import "../../styles/definitions/keyframes";

$header-height-mobile: 60px;
$header-height: 90px;

$image-diameter-mobile: 50px;
$image-diameter: 60px;

$search-icon-diameter: 40px;

$header-gutter: 24px;
$gutter-desktop: 32px;

// layout components
.site__header {
  z-index: 100;
  background-color: $white;
  padding: 0 $header-gutter;
  height: $header-height-mobile;
  border-bottom: 1px solid $gray-lighter;

  &__transparent {
    background-color: transparent;
  }

  &.state_fixed {
    animation: fade_in_bottom 0.15s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    position:fixed;
    top: 0;
    width: 100%;
    box-shadow: 3px 3px 1rem rgba(0,0,0, 0.15);
    height: $header-height-mobile;

    .logo {
      height: $image-diameter-mobile;
    }
  }

  @media (#{$min-tablets}) {
    padding: 0 $gutter-desktop;
    height: $header-height;
  }
}

.container {
  height: 100%;
}

.row {
  justify-content: space-between;
  align-items:center;

  margin: 0 auto;
  height: 100%;
}

// home image
.box__left {
  display: flex;
  align-items: center;
  height: $image-diameter-mobile;
  border-radius: $image-diameter-mobile / 2;

  @media (#{$min-tablets}) {
    height: $image-diameter;
    border-radius: $image-diameter / 2;
  }
}

.logo {
  height: $image-diameter-mobile;
  margin: 0 0.5rem 0.5rem -0.5rem;
  
  @media (#{$min-tablets}) {
    height: $image-diameter;
    margin-bottom: 0.7rem;
  }
}

.site_name {
  display: inline-block;
  &:hover {
    color: $secondary;
  }
}

.box__right {
  position: relative;

  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}

.search_icon {
  width: $search-icon-diameter;
  height: $search-icon-diameter;

  &:hover {
    cursor: pointer;
    box-shadow: 1px 1px 3px #ccc;
  }

  @media (#{$min-tablets}) {
    display: none;
  }
}

.search_container {
  display: none;
  transition: all 0.25s;

  &__active {
    display: block;
    position: absolute;
    right: 5px;
    bottom: -4rem;
    z-index: 1000;
    background-color: rgba(100,100,100,0.1);
    padding: 0.4rem 0.6rem;
    border-radius: 5px;
    box-shadow: 0 0 6px rgba(100,100,100,0.1);
  }

  @media (#{$min-tablets}) {
    display:block;
  }
}