@import '../../styles/definitions/breakpoints';
@import '../../styles/definitions/colors';
@import "../../styles/definitions/keyframes";

$header-height-mobile: 60px;
$header-height: 90px;

$image-diameter-mobile: 50px;
$image-diameter: 60px;

$search-icon-diameter: 35px;

$header-gutter: 24px;
$gutter-desktop: 32px;

// layout components
.site__header {
  z-index: 10000;
  background-color: $white;
  padding: 0 $header-gutter;
  border-bottom: 1px solid $gray-lighter;

  &__transparent {
    background-color: transparent;
  }

  &.state_fixed {
    animation: fade_in_bottom 0.15s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    position:fixed;
    top: 0;
    width: 100%;
    box-shadow: 3px 3px 1rem rgba(0,0,0, 0.15);

    .container {
      height: $header-height-mobile;
    }
    
    .logo {
      height: $image-diameter-mobile;
    }
  }

  @media (#{$min-tablets}) {
    padding: 0 $gutter-desktop;
  }
}

.container {
  height: $header-height-mobile;

  @media (#{$min-tablets}) {
    height: $header-height;
  }
}

.row {
  justify-content: space-between;
  align-items:center;

  margin: 0 auto;
  height: 100%;
}

// home image
.box__left {
  display: flex;
  align-items: center;
  height: $image-diameter-mobile;
  border-radius: $image-diameter-mobile / 2;

  @media (#{$min-tablets}) {
    height: $image-diameter;
    border-radius: $image-diameter / 2;
  }
}

.logo {
  height: $image-diameter-mobile;
  width: 200px;
  
  @media (#{$min-tablets}) {
    height: $image-diameter;
    width: 250px;
  }
}

.site_name {
  display: inline-block;
  &:hover {
    color: $secondary;
  }
}

.box__right {
  position: relative;

  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}

.search_icon {
  width: $search-icon-diameter;
  height: $search-icon-diameter;

  &:hover {
    cursor: pointer;
  }

  @media (#{$min-tablets}) {
    display: none;
  }
}

.search_container {
  display: none;
  padding: 0;
  opacity: 0;
  bottom: -8.0rem;

  $trans-time: 0.35s ease-in-out;
  transition: opacity $trans-time, bottom $trans-time;

  &__active {
    display: block;
    opacity: 1;
    position: absolute;
    right: 0px;
    bottom: -5.48rem;
    z-index: 11000;
    padding: 1.0rem 1.5rem;
    background-color: $white;
    border: 1px $gray-lighter solid;
    border-top: none;

    transition: opacity $trans-time, bottom $trans-time;
  }

  @media (#{$min-tablets}) {
    display:block;
    opacity: 1;
    transition: none;
  }
}