@import '../../styles/definitions/breakpoints';
@import '../../styles/definitions/colors';

// Layout components
.section {
  -moz-box-shadow: 0 0 7px #ccc;
  -webkit-box-shadow: 0 0 7px #ccc;
  box-shadow: 0 6px 7px -7px gray;
  background-color: $metal;
}

.row {
  justify-content: center;
}

// Carousel
.carousel {
  position: relative;
  height: 600px;
  max-width: 1000px;
  text-align: center;
}
.image {
  height: 100%;
}
.btn {
  position: absolute;
  top:0;

  display: inline-block;
  height: 100%;
  width: 120px;

  display: flex;
  justify-content: center;
  align-items: center;

  &__back {
    left: 0;
  }

  &__next {
    right: 0;
  }

  &:hover {
    cursor: pointer;
    .arrow_container {
      background-color: rgba(140, 140, 140, 0.4);
    }
    .arrow {
      opacity: 1;
    }
  }
}

// SVGs
$circle-diameter: 110px;
$arrow-height: 75px;
$arrow-width: 90px;
.arrow_container, .arrow {
  transition: all 0.25s ease-in-out;
}

.arrow_container {
  background-color: rgba(120, 120, 120, 0.1);
  height: $circle-diameter;
  width: $circle-diameter;
  border-radius: $circle-diameter / 2;

}
.arrow {
  width: $arrow-width;
  height: $arrow-height;
  opacity: 0.5;

  &_back {
    transform: rotate(180deg);
    margin: ($circle-diameter - $arrow-height)/2 ($circle-diameter - $arrow-width)/2 0 0;
  }
  &_next {
    margin: ($circle-diameter - $arrow-height)/2 0 0 ($circle-diameter - $arrow-width)/2;
  }
  path {
    stroke: rgb(50,50,50)
  }
}

$preview-width: 180px;
$preview-horizontal-margin: 0.15rem;
$total-preview-width: calc(#{$preview-width} + 2 * #{$preview-horizontal-margin});
@mixin preview-row-max-width($child-width, $n) {
  max-width: calc(#{$child-width} * #{$n});
}

.preview_container {
  display: flex;
  justify-content: center;
  background-color: $gray-dark;
  width: 100%;

}
.preview_row {
  @include preview-row-max-width($total-preview-width, 2);
  justify-content: center;
  overflow: hidden;

  @media ($min-tablets) {
    @include preview-row-max-width($total-preview-width, 5);
  }
}

.previews {
  display: flex;
  flex-direction: row;
  transition: all 0.35s ease-in-out;
}

.preview_image_container {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  height: 130px;
  width: $preview-width;
  margin: 0.3rem 0.15rem;
  border: 1px rgba(190, 190, 190, 0.1) solid;

  background-color: $gray-darker;
  opacity: 0.3;
  filter: grayscale(20%);
  transition: all 0.2s;

  &:hover {
    opacity: 1;
    cursor: pointer;
  }

  &__active {
    opacity: 1;
    filter: grayscale(0%);
  }
}

.preview_image {
  max-height: 100%;
  max-width: 100%;
}