@import '../../styles/definitions/breakpoints';
@import '../../styles/definitions/colors';

$preview-width: 180px;
$preview-horizontal-margin: 0.15rem;
$total-preview-width: calc(#{$preview-width} + 2 * #{$preview-horizontal-margin});
@mixin preview-row-max-width($child-width, $n) {
  max-width: calc(#{$child-width} * #{$n});
}

$arrow-container-width: 90px;
$arrow-height: 60px;

// Layout components
.section {
  -moz-box-shadow: 0 0 7px #ccc;
  -webkit-box-shadow: 0 0 7px #ccc;
  box-shadow: 0 6px 7px -7px gray;
  background-color: $metal;

  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}

// Carousel
.cara {
  &__row {
    justify-content: center;
  }

  &__image {
    object-fit: contain;
    height: 550px;
    max-height: 100%;
    max-width: 100%;
  }

  &__image_container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 550px;
    max-width: 750px;
    text-align: center;
  }

  &__btn {
    position: absolute;
    top:0;
  
    display: inline-block;
    height: 100%;
    width: 120px;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    &__back {
      left: 0;
    }
  
    &__next {
      right: 0;
    }
  
    &:hover {
      cursor: pointer;
      .arrow_container {
        background-color: rgba(140, 140, 140, 0.4);
      }
      .arrow {
        opacity: 1;
      }
    }
  }
}

// previews
.previews {
  display: flex;
  flex-direction: row;
  transition: padding 0.25s ease-in-out;

  &__container {
    display: flex;
    justify-content: center;
    background-color: $gray-dark;
    width: 100%;
  }

  &__row {
    $n: 2;
    justify-content: center;
    overflow: hidden;
  
    @media ($min-tablets) {
      $n: 5;
    }

    @include preview-row-max-width($total-preview-width, $n);
  }

  &__image {
    max-height: 100%;
    max-width: 100%;
  }

  &__image_container {
    display: flex;
    justify-content: center;
    align-items: center;
  
    height: 115px;
    width: $preview-width;
    margin: 0.3rem 0.15rem;
    border: 4px $gray-darker solid;
    background-color: $gray-darker;
  
    opacity: 0.3;
    filter: grayscale(20%);
    transition: all 0.18s ease-in-out;
  
    &:hover {
      opacity: 0.7;
      cursor: pointer;

      &__active {
        opacity: 1;
        filter: grayscale(0%);
      }
    }
  
    &__active {
      opacity: 1;
      filter: grayscale(0%);
    }
  }
}

// SVGs
.arrow {
  height: $arrow-height;
  opacity: 0.55;
  transition: all 0.18s ease-in-out;

  &__back {
    transform: rotate(180deg);
    margin: 0 0 0 0;
  }
  &__next {
    margin: 0 0 0 0;
  }
  path {
    stroke: #393939;
    stroke-width: 25;
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $arrow-container-width;
  
    &_back {
      margin-right: 2rem;
    }
  
    &_next {
      margin-left: 2rem;
    }
  
    &__active {
      .arrow{
        path {
          stroke: #B3B3B3;
        }
      }
      &:hover {
        cursor: pointer;
        path {
          stroke: $white;
        }
        .arrow {
          opacity: 1;
        }
      }
    }
  }
}