@import '../../styles/definitions/breakpoints';
@import '../../styles/definitions/colors';

$details-gutter: 24px;
$gutter-desktop: 32px;

// layout components
html {
  overflow-y:auto;
}
.page_wrapper {
  display: flex;
  flex-direction: column;
  min-height: calc(100% - 60px);

  @media (#{$min-tablets}) {
    min-height: calc(100% - 90px);
  }
}
.section {
  padding: 0 $details-gutter;
  background-color: $gray-lighter;
  flex: 3;

  @media (#{$min-tablets}) {
    padding: 0 $gutter-desktop;
  }
}
.container {
  background-color: $white;
  max-width: 750px;
  height: 100%;
  padding: 2rem $gutter-desktop;

  @media (#{$min-tablets}) {
    padding: 2rem $gutter-desktop;
  }
}
.row {
  max-width: 1000px;
  flex-direction: column;
}

// header
.header {
  margin:  0;
  border-bottom: 1px $gray-light solid;

  &__title {
    margin-bottom: 0.8rem;
  }

  &__subtitle {
    padding-left: 0.1rem;
    margin-top: -0.5rem;
    margin-bottom: 1rem;
  }

  &__content {
    padding: 1rem 0;
    border-top: 1px $gray-light solid;
  }
}

.content {
  margin-top: 1rem;
}

//primary
.primary {
  margin-bottom: 1rem;

  &__subtitle {
    margin-bottom: 1rem;
  }
}

//secondary
.secondary {

  &__title {
    margin-bottom: 1rem;
  }

  &__subtitle {
    margin-bottom: 0.2rem;
  }

  &__email {
    &:hover {
      color: $secondary;
    }
  }
}