@import '../../styles/definitions/breakpoints';

$details-gutter: 24px;
$gutter-desktop: 32px;

// layout components
.section {
  padding: 6rem $details-gutter;

  @media (#{$min-tablets}) {
    padding: 6rem $gutter-desktop 10rem;
  }
}

.container {
  display: flex;
  justify-content: center;
}

.row {
  max-width: 1000px;
  flex-direction: column;
}

// primary
.name {
  margin-bottom: 1rem;
}

.description {
  @media (#{$min-tablets}) {
    padding-left: 2rem;
  }
}

//secondary
.secondary {
  @media (#{$min-tablets}) {
    padding-left: 2rem;
  }
}

.info_type {
  margin-top: 3rem;
}

.subtitle {
  margin-bottom: 1rem;
}

.detail_group {
  @media (#{$min-tablets}) {
    padding-left: 2rem;
  }
}