@import '../../styles/definitions/breakpoints';
@import '../../styles/definitions/colors';

$details-gutter: 24px;
$gutter-desktop: 32px;

// layout components
.section {
  padding: 2rem $details-gutter;
  background-color: $gray-lighter;

  @media (#{$min-tablets}) {
    padding: 2rem $gutter-desktop;
  }
}
.container {
  border-radius: 1rem;
  padding: $gutter-desktop;
  background-color: $white;
  max-width: 750px;
}
.row {
  max-width: 1000px;
  flex-direction: column;
}

// header
.header {
  margin:  0;
  border-bottom: 1px $gray-light solid;

  &__title {
    margin-bottom: 0.8rem
  }

  &__subtitle {
    padding-left: 0.1rem;
    margin-top: -0.7rem;
    margin-bottom: 1rem;
    color: $primary;
  }

  &__content {
    padding: 1rem 0;
    border-top: 1px $gray-light solid;
  }
}

.content {
  margin-top: 1rem;
}

//primary
.primary {
  margin-bottom: 1rem;

  &__subtitle {
    margin-bottom: 1rem;
  }
}

//secondary
.secondary {

  &__title {
    margin-bottom: 1rem;
  }

  &__subtitle {
    margin-bottom: 0.2rem;
  }

  &__email {
    &:hover {
      color: $secondary;
    }
  }
}